<h1><font size=12>
Weather Derivatites </h1>
<h1> Precipitation Full Dataset Builder <br></h1>

Developed by [Jesus Solano](mailto:ja.solano588@uniandes.edu.co) <br>  
22 September 2018

In [1]:
# Import needed libraries. 
import numpy as np
import pandas as pd
import random as rand
import matplotlib.pyplot as plt
import time
from io import StringIO
import datetime 
import pickle

# Import Datasets

In [2]:
#### EL Dorado Airport Precipitation.

# Configure path to read txts.

path = '../datasets/'

# Download the update dataset.

import os

if not os.path.exists(path+'precipitationAllTime.csv'):

  ! wget https://github.com/jesugome/WeatherDerivates/raw/master/datasets/precipitationAllTime.csv -P path

  ! wget https://github.com/jesugome/WeatherDerivates/raw/master/datasets/precipitationRemovingAverageAllTime.csv -P path


precipitationAllTime = pd.read_csv(path+'precipitationAllTime.csv',header=None, names = ['Date','Prep'])

precipitationReAllTime = pd.read_csv(path+'precipitationRemovingAverageAllTime.csv')

precipitationAllTime['Date'] = pd.to_datetime(precipitationAllTime['Date'])
precipitationAllTime = precipitationAllTime.set_index('Date')

print('* Note: Precipitations are in mmm(milimetros de agua)--- 1mm = 1L/m²')
precipitationAllTime.tail()

* Note: Precipitations are in mmm(milimetros de agua)--- 1mm = 1L/m²

            Prep
Date
2015-12-27   0.0
2015-12-28   0.0
2015-12-29   0.0
2015-12-30   0.0
2015-12-31   0.0

In [91]:
#### Daily Nino3.4 index.

# Configure path to read txts.

path = '../datasets/'

# Download the update dataset.

import os

if not os.path.exists(path+'nino34_daily.dat'):

  ! wget https://github.com/jesugome/WeatherDerivates/raw/master/datasets/nino34_daily.dat -P path
    
#tempFile = StringIO(''.join(l.replace('  ', ' ') for l in open(path+'nino34_daily.dat')))

nino34AllTime = pd.read_csv(StringIO(''.join(l.replace('   ', '  ').replace('  ',' ') for l in open(path+'nino34_daily.dat'))),header=None, names = ['Date','nino34'], skiprows= lambda x: x in range(0,100), sep= ' ')

nino34AllTime['Date'] = nino34AllTime['Date'].apply(lambda x: datetime.datetime.strptime(str(x), '%Y%m%d'))

nino34AllTime = nino34AllTime.set_index('Date')

nino34AllTime.tail()

              nino34
Date
2018-07-28  0.314189
2018-07-29  0.165250
2018-07-30  0.117431
2018-07-31  0.189321
2018-08-01  0.211368

In [93]:
### ENSO probabilistic forecast.

# Open saved data.
ensoForecast = pickle.load(open('../datasets/ensoForecastProb/ensoForecastProbabilities.pickle','rb'))

# Print an example .. ( Format needed)

ensoForecast['2005-01']

     Season La Niña Neutral El Niño
0  JFM 2005      0%     15%     85%
1  FMA 2005      0%     17%     83%
2  MAM 2005      1%     24%     75%
3  AMJ 2005      2%     43%     55%
4  MJJ 2005      4%     51%     45%
5  JJA 2005      6%     54%     40%
6  JAS 2005      8%     52%     40%
7  ASO 2005      9%     51%     40%
8  SON 2005     10%     50%     40%
9  OND 2005     10%     50%     40%

In [94]:
float(ensoForecast['2013-02'].loc[0,'El Niño'].strip('%').strip('~'))/100+float(ensoForecast['2013-02'].loc[0,'Neutral'].strip('%').strip('~'))/100

0.74

In [95]:
ensoForecast['2013-02'].loc[0,'El Niño'].strip('%').strip('~')

'0'

# Create Total Dataframe

In [96]:
### Create total dataframe.

# Set variables names.
totalDataframeColumns = ['Prep','Month','nino34','probNeutral','probNino','state', 'nextState']

# Create dataframe.

allDataDataframe = pd.DataFrame(columns=totalDataframeColumns) 

# Fill datafame information.

# Generate a timestamp with all days in simulation.
startDate = '2005-01-01'
endDate  = '2015-12-31'

dates = pd.date_range(startDate, endDate, freq='D')

for date in dates: 
    
    # Fill precipitation amount.
    allDataDataframe.loc[date.strftime('%Y-%m-%d'),'Prep'] = precipitationAllTime.loc[date.strftime('%Y-%m-%d'),'Prep']
    
    # Fill month of date 
    allDataDataframe.loc[date.strftime('%Y-%m-%d'),'Month'] = date.month
    
    # Fill daily nino 34.
    allDataDataframe.loc[date.strftime('%Y-%m-%d'),'nino34'] = nino34AllTime.loc[date.strftime('%Y-%m-%d'),'nino34']
    
    # Fill neutral Enso forecast probability.
    allDataDataframe.loc[date.strftime('%Y-%m-%d'),'probNeutral'] = float(ensoForecast[date.strftime('%Y-%m')].loc[0,'Neutral'].strip('%').strip('~'))/100
    
    # Fill El Nino ENSO forecast probability. 
    allDataDataframe.loc[date.strftime('%Y-%m-%d'),'probNino'] = float(ensoForecast[date.strftime('%Y-%m')].loc[0,'El Niño'].strip('%').strip('~'))/100
    
    # Fill State. 
    allDataDataframe.loc[date.strftime('%Y-%m-%d'),'state'] = (1 if precipitationAllTime.loc[date.strftime('%Y-%m-%d'),'Prep']>0 else 0 )
    
    # Fill next State.
    nextDate = date + 1
    
    if date != dates[-1]:
        allDataDataframe.loc[date.strftime('%Y-%m-%d'),'nextState'] = (1 if precipitationAllTime.loc[nextDate.strftime('%Y-%m-%d'),'Prep']>0 else 0 )

        
allDataDataframe = allDataDataframe[:-1]

In [97]:
allDataDataframe

           Prep Month    nino34 probNeutral probNino state nextState
2005-01-01    0     1  0.606186        0.15     0.85     0         0
2005-01-02    0     1  0.599358        0.15     0.85     0         0
2005-01-03    0     1  0.646784        0.15     0.85     0         1
2005-01-04  1.6     1  0.663696        0.15     0.85     1         0
2005-01-05    0     1   0.71133        0.15     0.85     0         0
2005-01-06    0     1  0.679185        0.15     0.85     0         0
2005-01-07    0     1  0.558135        0.15     0.85     0         0
2005-01-08    0     1  0.451021        0.15     0.85     0         0
2005-01-09    0     1  0.593434        0.15     0.85     0         1
2005-01-10  0.4     1  0.672419        0.15     0.85     1         0
2005-01-11    0     1  0.757247        0.15     0.85     0         0
2005-01-12    0     1  0.755326        0.15     0.85     0         0
2005-01-13    0     1  0.670963        0.15     0.85     0         1
2005-01-14  0.4     1  0.486574        0.15     0.85     1         1
2005-01-15  0.2     1  0.443672        0.15     0.85     1         1
2005-01-16  1.1     1  0.494552        0.15     0.85     1         1
2005-01-17  0.3     1  0.543425        0.15     0.85     1         0
2005-01-18    0     1  0.536013        0.15     0.85     0         0
2005-01-19    0     1   0.58257        0.15     0.85     0         1
2005-01-20    2     1  0.618696        0.15     0.85     1         0
2005-01-21    0     1  0.638987        0.15     0.85     0         0
2005-01-22    0     1  0.715913        0.15     0.85     0         0
2005-01-23    0     1   0.65339        0.15     0.85     0         0
2005-01-24    0     1  0.608979        0.15     0.85     0         0
2005-01-25    0     1  0.576707        0.15     0.85     0         0
2005-01-26    0     1  0.636912        0.15     0.85     0         0
2005-01-27    0     1  0.572322        0.15     0.85     0         1
2005-01-28    1     1  0.432275        0.15     0.85     1         1
2005-01-29  2.4     1  0.240318        0.15     0.85     1         0
2005-01-30    0     1  0.138489        0.15     0.85     0         1
...         ...   ...       ...         ...      ...   ...       ...
2015-12-01    0    12   2.93986           0        1     0         1
2015-12-02  0.2    12   2.82012           0        1     1         1
2015-12-03  0.2    12   2.64611           0        1     1         0
2015-12-04    0    12   2.49693           0        1     0         0
2015-12-05    0    12   2.36632           0        1     0         0
2015-12-06    0    12   2.32931           0        1     0         0
2015-12-07    0    12   2.45664           0        1     0         0
2015-12-08    0    12   2.55595           0        1     0         0
2015-12-09    0    12     2.591           0        1     0         0
2015-12-10    0    12   2.62793           0        1     0         0
2015-12-11    0    12    2.6431           0        1     0         0
2015-12-12    0    12   2.63066           0        1     0         0
2015-12-13    0    12   2.63364           0        1     0         0
2015-12-14    0    12    2.6149           0        1     0         0
2015-12-15    0    12   2.57585           0        1     0         0
2015-12-16    0    12    2.5824           0        1     0         0
2015-12-17    0    12   2.59924           0        1     0         1
2015-12-18  1.8    12   2.61306           0        1     1         0
2015-12-19    0    12   2.63972           0        1     0         0
2015-12-20    0    12   2.63854           0        1     0         0
2015-12-21    0    12   2.62436           0        1     0         0
2015-12-22    0    12   2.57449           0        1     0         0
2015-12-23    0    12   2.49334           0        1     0         0
2015-12-24    0    12   2.42065           0        1     0         0
2015-12-25    0    12   2.43849           0        1     0         0
2015-12-26    0    12   2.43192           0        1     0         0
2015-12-27    0    12   2.44873           0        1     0         0
2015-12-28    0    12     2.395           0        1     0         0
2015-12-29    0    12   2.42051           0        1     0         0
2015-12-30    0    12   2.36802           0        1     0         0

[4016 rows x 7 columns]

# Export Ideam Data to external Files

In [98]:
# Save total data to .csv

allDataDataframe.to_csv('../datasets/fullDataset/completeDailyDataset.csv')